name: Publish NuGet package for x86

on:
  workflow_dispatch:
  push:
    branches: [master]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout files
      uses: actions/checkout@v2
    - name: Setup dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
      env:
        NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Restore dependencies
      run: |
        dotnet restore .\Facepunch.Steamworks\Facepunch.Steamworks.Posix.csproj
        dotnet restore .\Facepunch.Steamworks\Facepunch.Steamworks.Win32.csproj
        dotnet restore .\Facepunch.Steamworks\Facepunch.Steamworks.Win64.csproj
        dotnet restore .\Facepunch.Steamworks.Test\Facepunch.Steamworks.TestWin32.csproj
        dotnet restore .\Facepunch.Steamworks.Test\Facepunch.Steamworks.TestWin64.csproj
    - name: Build project
      run: dotnet build Facepunch.Steamworks/Facepunch.Steamworks.Win32.csproj -c Release
    - name: Package project
      run: dotnet pack Facepunch.Steamworks/Facepunch.Steamworks.Win32.csproj --no-build -c Release
    - name: Publish package
      run: dotnet nuget push Facepunch.Steamworks/bin/Release/JKMP.Facepunch.Steamworks.Win32.*.nupkg --source https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json --api-key ${{ secrets.GITHUB_TOKEN }} --skip-duplicate